<!-- <div>
    <h1>First Name : {{fname}}</h1>
    <h1>Last Name : {{lname}}</h1>
    <h1>Email : {{email}}</h1>
    <h1>Phone : {{phone}}</h1>



    
</div> -->


<div class="cardf " style="width: 500px; height: 180px; ">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="height: 80px; text-align: center; font-size: x-large; font-family: 'Lora', serif;">First name : {{fname}}</li>
      <li class="list-group-item" style="height: 80px; text-align: center; font-size: x-large; font-family: 'Lora', serif;" >Last name : {{lname}}</li>
      <li class="list-group-item" style="height: 80px; text-align: center; font-size: x-large; font-family: 'Lora', serif;">Email : {{email}}</li>
      <li class="list-group-item" style="height: 80px; text-align: center; font-size: x-large; font-family: 'Lora', serif;">Phone : {{phone}}</li>
   
    </ul>
  </div>