<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">

        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign up</h3>

            </div>

            <div class="card-body">
                <form action="">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>

                        <input type="text" class="form-control" placeholder="First Name" id="funame" required>

                    </div>


                    <!-- div for invalid uname -->


                    <div class="input-group form-group ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>

                        <input type="text" class="form-control " placeholder="Last Name" id="luname" required>

                    </div>


                    <!-- div for invalid last name -->

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <!-- //reactive form -->
                        <input type="email" class="form-control" placeholder="Enter your email id" id="email" required>


                    </div>

                    <!-- div for invalid email -->



                    <div class="input-group form-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        <!-- //reactive form -->
                        <input type="text" class="form-control" placeholder="phone" id="phone" required>


                    </div>

<!-- div for invalid phone -->

<div class="form-group">
    <input type="submit" value="Register" class="btn float-right register_btn " style="width:50%">

</div>




                </form>












            </div>




        </div>


    </div>


</div>